.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.1s ease-in-out;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.menuLink:hover {
  filter: brightness(80%);
}

.menuLink svg {
  width: 1.5rem;
  height: 1.5rem;
}
